---
import { Section } from 'astro-boilerplate-components';

import Base from '@/templates/Base.astro';

const title = "Colin Kierans's Hobbies";
const description = 'Things I enjoy.';
console.log('hi im server');
---

<Base head={{ title, description }}>
  <Section>
    <h1 class='text-xl font-bold'>Colin Kierans's Hobbies</h1>
    <p>Here are some of the things I enjoy doing:</p>

    <ul class='list-inside list-disc'>
      <li>
        <strong>Video games:</strong> Path of Exile, Left 4 Dead, Slay the Spire
      </li>
      <li>
        <strong>Board games:</strong> Gloomhaven, Magic the Gathering, Star Realms
      </li>
      <li>
        <strong>Roleplaying games:</strong> Dark Heresy, Dungeon World, Dungeons
        & Dragons
      </li>
      <li>Game design</li>
      <li>Reading</li>
      <li>Coding</li>
      <li>Hiking</li>
      <li>Woodworking</li>
    </ul>
  </Section>
</Base>
